td
{
    border: 10px solid white;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    /*background: #4b89fa;*/
}

body {
    /*background-image: url("http://www.worldoceansday.org/_assets/css/images/events/8075118_2_IMG_1262CoastOceanSky.jpg");*/
    background-image: url("http://7-themes.com/data_images/out/61/6981135-green-nature-landscape.jpg");
}

.jumbotron {
    margin-top: 20px;
}

