<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/atm.css" %}">
    <style>
        #footer
        {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron bg-dark text-white">
            <h1>Welcome to ATM Money Transaction Application</h1>
            <br/>
            <h5>Put your card to start a transaction.</h5>
            <br/>
            <button id="b" type="button" class="btn btn-primary btn-lg">Press for start a transaction</button>
        </div>
{#        <table align="center" border="5px solid black" id="tb1">#}
{#            <tr>#}
{#                <td id="td1">#}
{#                    <table align="center" border="2px solid black" id="tb1-1">#}
{#                        <tr>#}
{#                            <td>Questions</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                    <table align="center" border="2px solid black" id="tb1-2">#}
{#                        <tr>#}
{#                            <td><button class="button" id="ans1" name="Answer 1">Answer 1</button></td>#}
{#                            <td><button class="button" id="ans1" name="Answer 2">Answer 2</button></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><button class="button" id="ans1" name="Answer 3">Answer 3</button></td>#}
{#                            <td><button class="button" id="ans1" name="Answer 4">Answer 4</button></td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </td>#}
{#                <td id="td2">#}
{#                    <table align="center" border="2px solid black" id="tb1-3">#}
{#                        <tr>#}
{#                            <td><button class="button" id="50/50" name="Answer 1">50/50</button></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><button class="button" id="zal" name="Answer 1">Zal</button></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><button class="button" id="Call" name="Answer 1">Call</button></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><button class="button" id="change" name="Answer 1">Change Question</button></td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </td>#}
{#                <td id="td3">#}
{#                    <table align="center" border="2px solid black" id="tb1-4">#}
{#                        <tr>#}
{#                            <td>Amount</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
    </div>
    <br/>
</body>
</html>
